<?php

define('FILE_DIR', 'res'); 
define('DB_NAME','share');
define('DB_USER','share');
define('DB_PASSWORD','yours');
define('DB_HOST','localhost');
define('DB_PORT',3306);
define('CIPHER_PASS', 'qlkj12l3kj');

?>
